nav {
  background: linear-gradient(
    to right,
    rgba(7, 55, 80, 0.9),
    rgba(37, 194, 154, 0.9)
  );
  height: 80px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 20px 30px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 60px;
  margin-right: 20px;
  border-radius: 10%;
  object-fit: cover;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.nav-icon {
  margin-right: 8px;
  font-size: 1.2rem;
  vertical-align: middle;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
}

nav ul li a:hover {
  background-color: #575757;
  transform: scale(1.05);
}

nav ul li a.active {
  background-color: #25c29a;
  color: white;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 50px;
}

.greeting {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 8px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.user-info .active span {
  position: relative;
  top: -12px;
}

.nav-right .user-info a {
  text-decoration: none;
  position: relative;
  top: -3px;
  display: inline-block;
  transform: translatex(0px) translatey(0px);
}

.sign-out-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 1.1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.sign-out-button:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-left {
    margin-bottom: 10px;
  }
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-right {
    flex-direction: column;
    align-items: flex-start;
  }
}

.book-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  width: 608px;
  min-height: 90px;
  transform: translatex(0px) translatey(0px);
}

.book-search input {
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  width: 70%;
  max-width: 500px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 40px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/622/622669.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.book-search button {
  background-color: #25c29a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  margin-left: 10px;
  transform: translatex(0px) translatey(-7px);
}

.book-search button:hover {
  background-color: #1abc9c;
}

.book-search ul {
  list-style: none;
  padding: 0;
}

.book-search ul li {
  font-size: 1.2rem;
  color: #2c3e50;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f6f9fc;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s, background-color 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.book-search ul li:hover {
  background-color: #25c29a;
  color: white;
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-modal {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 80vh;
  z-index: 1000;
}

.search-modal h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.search-modal ul {
  list-style: none;
  padding: 0;
}

.search-modal ul li {
  font-size: 1.2rem;
  color: #2c3e50;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f6f9fc;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s, background-color 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.search-modal ul li:hover {
  background-color: #25c29a;
  color: white;
  transform: scale(1.05);
}

.search-modal button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #25c29a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.search-modal button:hover {
  background-color: #d32f2f;
}
