.book-search {
  margin: 20px auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-search input {
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  width: 70%;
  max-width: 500px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 40px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/622/622669.png"); /* URL ikone lupe */
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.book-search button {
  background-color: #2980b9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  margin-left: 10px;
}

.book-search button:hover {
  background-color: #1abc9c;
}

.book-search ul {
  list-style: none;
  padding: 0;
}

.book-search ul li {
  font-size: 1.2rem;
  color: #2c3e50;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f6f9fc;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s, background-color 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.book-search ul li:hover {
  background-color: #3498db;
  color: white;
  transform: scale(1.05);
}
