.tabs-container {
  max-width: 95%;
  padding: 20px;
  background-color: #f6f9e3;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

  margin-left: auto;
  margin-right: auto;
  font-family: 'Arial', sans-serif;
}

.tab-navigation {

  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-navigation button {
  background-color: #ecf0f1;
  border: none;
  padding: 12px 25px;
  margin: 0 10px;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #2c3e50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab-navigation button.active {
  background-color: #25c29a;
  color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.tab-navigation button:hover {
  background-color: #25c29a;
  color: white;
}

.tab-content {
  margin-top: 20px;
}

.tab-panel {
  display: none;
  animation: fadeIn 0.5s ease-in-out;
}

.tab-panel.active {
  display: block;
}

.tab-panel h2 {
  color: #2c3e50;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  border-bottom: 2px solid #e99118;
  padding-bottom: 10px;
}
.tab-panel ul {
  list-style: none;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tab-panel ul li {
  font-size: 1.2rem;
  color: #073750;
  margin-bottom: 15px;
  padding: 10px 15px;
  background-color: #bec6af;
  border-radius: 8px;
  transition: transform 0.2s, background-color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tab-panel ul li:hover {
  background-color: #71a6a7;
  color: white;
  transform: scale(1.05);
}

.tab-panel ul li::before {
  margin-right: 10px;
  font-size: 1.5rem;
}

.add-book {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-top: 2px solid #ecf0f1;
}


.add-book select {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 350px;
  font-size: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.add-book button {
  background-color: #2c3e50;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-book button:hover {
  background-color: #3498db;
}

.details-buttom {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;


}

.delete-button {
  background-color: #e99118;
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.delete-button:hover {
  background-color: #c0392b;
}


.book-search {
  background-color: #bec6af;


}

.book-search h2 {
  font-size: 1.8rem;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.book-search input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 500px;
  font-size: 1rem;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.book-search button {
  background-color: #2c3e50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-bottom: 20px;
  
}

.book-search button:hover {
  background-color: #25c29a;
}

.book-search ul {
  list-style: none;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.book-search ul li {
  font-size: 1.2rem;
  color: #34495e;
  margin-bottom: 15px;
  padding: 10px 15px;
  background-color: #ecf0f1;
  border-radius: 8px;

  transition: transform 0.2s, background-color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book-search ul li:hover {
  background-color: #3498db;
  color: white;
  transform: scale(1.05);
}

.book-search ul li button {
  background-color: #2ecc71;
  color: white;

  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  border:solid 1px #073750;
}

.book-search ul li button:hover {
  background-color: #27ae60;
}


@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.carousel-container {
  max-width: 95%;
  margin: 40px auto;
  padding: 20px;
  background-color: #f6f9e3;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.carousel-item {
  text-align: center;
  padding: 10px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.carousel-item img:hover {
  transform: scale(1.05);
}

.carousel-item h3 {
  font-size: 1rem;
  color: #2c3e50;
  margin-top: 10px;
}
