.book-details-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .book-details-content {
    background-color: #f6f9e3;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    text-align: center;
  }
  
  .book-details-content img {
    width: 100px;
    height: auto;
  }
  
  .close-button {
    background-color: #e99118;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    float: right;
    border-radius: 5px;
  }
  
  .book-details-p {

    color:#073750;
  }