nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
  }
  
  nav ul li a:hover {
    background-color: #575757;
  }
  